*{
  margin: 0;
  padding: 0; 
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
 box-sizing:border-box;
}
h1 {
  font-family:fantasy;
  background: rgb(250, 0, 83);
}

body {
  background:#76D7C4; 
}

.menu{
 margin: 30px auto ;
 width: 1000px;
 background: #fff;
}
.navegacion ul{
  list-style: none;
}
.menu > li{
  position: relative;
  display: inline-block;
}
.menu > li > a {
display: block;
padding: 15px 20px;
color: blueviolet;
font-family: 'open sans';
text-decoration: none;
}
.menu li a:hover {
color:#F31F0D;
transition: all .3s;

}
/*submenu*/

.submenu{
  position: absolute;
  background: #333333;
  width: 120%;
 display: none;
}

.submenu li a{
  display: block;
 padding: 15px;
 color: #fff;
 font-family: 'open sans';
 text-decoration: none;

}
.menu li:hover .submenu{
display: block;

}